{
    "all": true,
    "include": [
        "src/**/*.js"
    ],
    "report-dir": "coverage",
    "exclude": [
        "src/core/infra/config"
    ],
    "reporter": [
        "html"
    ],
    "check-coverage": true,
    "branches": 100,
    "lines": 100,
    "functions": 100,
    "statements": 100
}