version: "3.8"
services:
  auth-server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth-server
    networks:
     - server
    env_file:
      - ./.env
    restart: always
    ports:
      - "${AUTH_SERVER_PORT}:${AUTH_SERVER_PORT}"
    environment:
      AUTH_SERVER_PORT: "${AUTH_SERVER_PORT}"
      AUTH_SERVER_ADDRESS: "0.0.0.0"
      LOG_LEVEL: "${LOG_LEVEL}"
      DB_PORT: "${DB_PORT}"
      DB_ROOT_PASSWORD: "${DB_ROOT_PASSWORD}"
      AUTH_DB_DATABASE_NAME: "${AUTH_DB_DATABASE_NAME}"
      DB_USER: "${DB_USER}"
      CACHE_PORT: "${CACHE_PORT}"
      DB_HOST: database
      CACHE_HOST: cache
      NODE_ENV: production
    depends_on:
      - cache
      - database
    command: ["node","src/auth/main.js"]
    deploy:
      resources:
        limits:
          memory: 200M
          cpus: "1"

  game-server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: game-server
    env_file:
      - ./.env
    restart: always
    ports:
      - "${GAME_SERVER_PORT}:${GAME_SERVER_PORT}"
    networks:
     - server
    environment:
      GAME_SERVER_PORT: "${GAME_SERVER_PORT}"
      GAME_SERVER_ADDRESS: "0.0.0.0"
      REAL_SERVER_ADDRESS: "${GAME_SERVER_ADDRESS}"
      LOG_LEVEL: "${LOG_LEVEL}"
      DB_PORT: "${DB_PORT}"
      DB_ROOT_PASSWORD: "${DB_ROOT_PASSWORD}"
      GAME_DB_DATABASE_NAME: "${GAME_DB_DATABASE_NAME}"
      DB_USER: "${DB_USER}"
      CACHE_PORT: "${CACHE_PORT}"
      DB_HOST: database
      CACHE_HOST: cache
      NODE_ENV: production
    depends_on:
      - cache
      - database
    command: ["node", "--max-old-space-size=2048", "src/game/main.js"]
    deploy:
      resources:
        limits:
          memory: 2048M
          cpus: "2"

  cache:
    image: redis:latest
    restart: unless-stopped
    container_name: cache
    networks:
     - server
    env_file:
      - ./.env
    ports:
      - "${CACHE_PORT}:${CACHE_PORT}"

  database:
    image: mysql:5.7
    container_name: database
    restart: always
    networks:
     - server
    env_file:
      - ./.env
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD}"
      MYSQL_ROOT_HOST: '%'
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - dbdata:/var/lib/mysql
    healthcheck:
      test: ["CMD","mysqladmin","ping","-h","127.0.0.1"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  dbdata: {}

networks:
  server:
    name: server
    driver: bridge
